a {
    text-decoration: none;
    color: #0f0f0f;
}

body {
    background-color: #eeeeee;
}

#side ul li a button {
    font-size: 21px;
    text-align: left !important;
    padding-left: 1em;
}

#side ul li a button i {
    font-size: 21px;
    margin-right: 5px;
}

#side {
    max-width: max-content;

}

.hi {
    background-color: white;
}

#side ul button {
    width: 340px;
    font-size: 20px;
    height: 50px;
}

.prof {
    max-width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

.lg {
    margin-left: 0.5em;
}

.lg img {
    object-fit: cover;
    border-radius: 50%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 0.5px 4px;
}

.cover {
    min-height: 80vh;
}

.cover ul li button {
    background-color: white;
}

.cover ul li button:hover {
    border-left: 4px solid #7e3af2;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 0.5px 4px;
}

.cover ul li {
    margin-bottom: 0.5em;
}

.rect {
    width: 100%;
    background-color: #7e3af2;
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    color: white;
    border-radius: 20px;
    text-align: center;
}

.outside {
    background-color: white;
    border-radius: 20px;
    width: 100%;
    margin-left: 2em;
}

.txtt {
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 0;
}

.boxi {
    background-color: #eeeeee;
    padding: 1em;
    align-items: center;
    width: 206px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 0.5px 4px;
}

.boxi2 {
    align-items: center;
    padding: 0;
}

.numbers {
    justify-content: center;
}

.boxi img {
    border-radius: 50%;
}

.boxi2 img {
    border-radius: 50%;
}

td {
    vertical-align: middle;
}


.oview {
    box-shadow: rgba(0, 0, 0, 0.18) 0px 0.5px 4px;
}

.stuf {
    margin-left: 0.2em;
}

.smore {
    width: fit-content;
    margin: auto;
}

.out1 #side ul li:nth-child(1) button {
    border-left: 4px solid #7e3af2;
}

.out2 #side ul li:nth-child(2) button {
    border-left: 4px solid #7e3af2;
}

.out3 #side ul li:nth-child(3) button {
    border-left: 4px solid #7e3af2;
}

.out4 #side ul li:nth-child(4) button {
    border-left: 4px solid #7e3af2;
}

.out5 #side ul li:nth-child(5) button {
    border-left: 4px solid #7e3af2;
}

.out6 #side ul li:nth-child(6) button {
    border-left: 4px solid #7e3af2;
}



.out7 #side ul li:nth-child(7) button {
    border-left: 4px solid #7e3af2;
}

.out8 #side ul li:nth-child(8) button {
    border-left: 4px solid #7e3af2;
}

.search2 {
    margin-left: auto;
    vertical-align: middle;
    border: none;
    background-color: #efefef;
    border-radius: 50px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.sbar2 i {
    vertical-align: middle;
    margin-right: 1.5em;
}

#searchbar2 {
    border: none;
    text-align: left;
    margin-left: 0.8em;
    width: 200px;
    float: left;
    background-color: #efefef;
}

#searchbar2:focus {
    outline: none;
}

.wat {
    border-left: 4px solid #7e3af2;
    width: 340px;
    align-items: center;
}


thead {
    position: sticky;
    background-color: #efefef;
    z-index: 999;
}

.tableContainer {
    height: 380px;
    overflow-y: auto;
}

.linkii:hover {
    cursor: pointer;
    color: #6b6b6b;
}

hr#createuser {
    border: 1px solid #6b6b6b;
    width: 130px;
}


.outside {
    min-width: fit-content;
    max-width: 55vh;
    height: fit-content;
}

#upload-image label {
    width: 400px;
    min-width: 350px;

}

#upload-image label.btn {
    width: 100%;
    min-width: 0;

}

img.user {
    min-width: 350px;
}

label.choose-file {

    width: 350px;
}

#upload-image label {
    display: flex;
    align-items: center;
    justify-content: center;
}

#upload-image .upload-btn-wrapper {
    margin-left: 45%;
    margin-right: 45%;
    width: 220px;
}

.adminreg{
    align-items: center;
    justify-content: center;
}

.red {
    background-color: #a53636;
}
