.ola a {
    text-decoration: none;
    color: #0f0f0f;
}

.ola a:hover {
    color: inherit;
}
.page {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

.filtros {
    max-width: 15%;
    margin: 0;
    position: absolute;
}



.caixa {
    background-color: #f4f4f4;
    width: 650px;
    box-shadow: rgba(129, 129, 129, 0.22) 0px 0.5px 4px;
}

.caixa2 {
    width: 650px;
    background-color: #fff5e6;
    color: #956429;
    box-shadow: rgba(149, 100, 41, 0.22) 0px 0.5px 4px;
}

#nr {
    color: #c2bcbd;
}

#pp {
    color: #f1b642;
}

#pl {
    color: #956429;
}

#ini {
    color: #f1b642;
}

.defl {
    color: #818181;
}

.inpt {
    width: 9em;
    border: 0;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.32) 0px 0.5px 4px;
    border-radius: 2px;
}

.inpt:focus{
    box-shadow: rgba(0, 0, 0, 0.52) 0px 0.5px 4px;
    outline: none;
}
.bidbtn button{
    background-color: #f4f4f4;
    width: 9em;
    height: 2em;
    box-shadow: rgba(129, 129, 129, 0.52) 0px 0.5px 4px;
}

.pop {
    color: inherit;
    text-decoration: none;
}

.pop:hover {
    color: inherit;
}

.dtls {
    display:block;
    width:564px;
    word-wrap:break-word;
}


.modal-fader {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 99998;
    background: rgba(0,0,0,0.8);
}
.modal-fader.active {
    display: block;
}

.modal-window {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99999;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    font-family: sans-serif;
    top: 50px;
}
.modal-window.active {
    display: block;
}
.modal-window h1,
.modal-window h2,
.modal-window h3,
.modal-window h4,
.modal-window h5,
.modal-window h6 {
    margin: 0;
}

.modal-btn, a.modal-btn{
    background: #36a5a5;
    border: none;
    color: #fff;
    padding: 10px 15px;
    box-shadow: none;
    border-radius: 3px;
    text-decoration: none;
    margin-left: auto;
}

.rfix {
    width:380px;
    word-wrap:break-word;
}

.cl {
    background: #f1b642;
}

.but {
    margin-left: auto;
}

.close {
    margin-bottom: 1.4em;
    margin-left: auto;
}


.alert ul{

    margin-bottom: 0;
    text-align: center;
}

#delete-auc{
    margin-left: auto;
    align-self: center;
}

#delete-auc button{
    color:red;
}


#delete-auc-text{
    margin-left: 0.3em;
}

#edit-auc{
    margin-left: auto;
    align-self: center;
}

#edit-auc-text{
    margin-left: 0.3em;
}

.contii {
    margin-left: 4em;
}
.form-header {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}


.form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #f1b642;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;

}

.input-box select {
    background-color: white;
}

.input-box input, .input-box select {
    margin: 0.6rem 0;
    padding: 0.8rem 0.5em;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 14px;
}



.input-box input:hover, .input-box select:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible, .input-box select:focus-visible {
    outline: 1px solid #f1b642;
}

.input-box label {
    font-size: 16px;
    font-weight: 600;
    color: #000000c0;
}

.input-box input::placeholder {
    color: #000000be;
}


.continue-button button {
    width: 100%;
    border: none;
    background-color: #f1b642;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.continue-button button:hover {
    background-color: #bb8412;
}

.continue-button input {
    width: 100%;
    border: none;
    background-color: #f1b642;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.continue-button input:hover {
    background-color: #bb8412;
}

#appeal {
    width: 100%;
    height: 10em;
}

.exit {
    background: none;
    border: 0;
}

.fds {
    width: 400px;
    min-width: 250px;
}

.nt {
    display: none;
}
.slideshow{
    max-width: 1000px;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
}
.slide{

    inset: 0;
    transition: 2s;
    z-index: 0;

}


.slide img{
    display: block;
    object-fit: cover;
    object-position: center;

}
.slide[data-active]{
    -webkit-animation: cssAnimation 1s forwards;
    animation: cssAnimation2 5s forwards;
    transition-delay: 2s;



}
@keyframes cssAnimation2 {
    0%   {opacity: 0;}
    15%  {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes cssAnimation {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}

@-webkit-keyframes cssAnimation {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}

.slideshow button{
    background: none;
    border: none;
    color: white;
    font-size: 1.2rem;
    transform: translateY(-50%);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background: rgb(0,0,0,.6);

    z-index: 2;
}
.slideshow button:hover{
    background: rgb(0,0,0,1);
}


.slideshow ul{
    padding:0;
    margin:0;
}

.buttons{
    bottom: 5px;
    position: absolute;
    z-index: 2;
}

#favorite.fa-solid{
    color: rgb(255, 240, 36);

}

.hov a{

    background-image: linear-gradient(
        to right,
        #b6a50b,
        #e7d425 50%,
        #000 50%
      );
    background-size: 200% 100%;
    background-position: -100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}



.hov a:hover {
    background-position: 0;

   }

.hov a:hover::before {
    width: 100%;

  }

.xau {
    margin-left: auto;
}



.txtt:focus {
    outline: none;
}

.txtt {
    padding: 5px;
    box-sizing: border-box;
}
.txtt2:focus {
    outline: none;
}

.txtt2 {
    padding: 5px;
    box-sizing: border-box;
}
.txtt{
    border-radius: 4px;
    height:170px;
    width:410px;
    box-shadow: 1px 1px 6px #0000001c;
}
#display-image{
    max-width: 20rem;
    width: 100%;
    height: auto;
    overflow: hidden;
    object-fit: cover;

    border-radius: 4px;

}
