.ola a {
    text-decoration: none;
    color: #0f0f0f;
}

.ola a:hover {
    color: inherit;
}
.page {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

.filtros {
    max-width: 15%;
    margin: 0;
    position: absolute;
}

.foto img {
    box-shadow: rgba(0, 0, 0, 0.22) 0px 0.5px 4px;
}

.caixa {
    background-color: #f4f4f4;
    width: 650px;
    box-shadow: rgba(129, 129, 129, 0.22) 0px 0.5px 4px;
}

.caixa2 {
    width: 650px;
    background-color: #fff5e6;
    color: #956429;
    box-shadow: rgba(149, 100, 41, 0.22) 0px 0.5px 4px;
}

#nr {
    color: #c2bcbd;
}

#pp {
    color: #f1b642;
}

#pl {
    color: #956429;
}

#ini {
    color: #f1b642;
}

.defl {
    color: #818181;
}

.inpt {
    width: 9em;
    border: 0;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.32) 0px 0.5px 4px;
    border-radius: 2px;
}

.inpt:focus{
    box-shadow: rgba(0, 0, 0, 0.52) 0px 0.5px 4px;
    outline: none;
}
.bidbtn button{
    background-color: #f4f4f4;
    width: 9em;
    height: 2em;
    box-shadow: rgba(129, 129, 129, 0.52) 0px 0.5px 4px;
}

.pop {
    color: inherit;
    text-decoration: none;
}

.pop:hover {
    color: inherit;
}

.dtls {
    display:block;
    width:564px;
    word-wrap:break-word;
}


.modal-fader {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 99998;
    background: rgba(0,0,0,0.8);
}
.modal-fader.active {
    display: block;
}

.modal-window {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99999;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    font-family: sans-serif;
    top: 50px;
}
.modal-window.active {
    display: block;
}
.modal-window h1,
.modal-window h2,
.modal-window h3,
.modal-window h4,
.modal-window h5,
.modal-window h6 {
    margin: 0;
}

.modal-btn, a.modal-btn{
    background: #36a5a5;
    border: none;
    color: #fff;
    padding: 10px 15px;
    box-shadow: none;
    border-radius: 3px;
    text-decoration: none;
    margin-left: auto;
}

.rfix {
    width:380px;
    word-wrap:break-word;
}

.cl {
    background: #f1b642;
}

.but {
    margin-left: auto;
}

.close {
    margin-bottom: 1.4em;
    margin-left: auto;
}


.alert ul{

    margin-bottom: 0;
    text-align: center;
}

#delete-auc{
    margin-left: auto;
    align-self: center;
}

#delete-auc button{
    color:red;
}


#delete-auc-text{
    margin-left: 0.3em;
}

#edit-auc{
    margin-left: auto;
    align-self: center;
}

#edit-auc-text{
    margin-left: 0.3em;
}

.contii {
    margin-left: 4em;
}
.form-header {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}


.form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #f1b642;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
    width: 200px;
}

.input-box select {
    background-color: white;
}

.input-box input, .input-box select {
    margin: 0.6rem 0;
    padding: 0.8rem 0.5em;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 14px;
}



.input-box input:hover, .input-box select:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible, .input-box select:focus-visible {
    outline: 1px solid #f1b642;
}

.input-box label {
    font-size: 16px;
    font-weight: 600;
    color: #000000c0;
}

.input-box input::placeholder {
    color: #000000be;
}


.continue-button input {
    width: 100%;
    border: none;
    background-color: #f1b642;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.continue-button input:hover {
    background-color: #bb8412;
}

.exit {
    background: none;
    border: 0;
}

.fds {
    width: 400px;
    min-width: 250px;
}

.nt {
    display: none;
}
