@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');


/* Global */

*{
    margin: 0;
    padding: 0;
    font-family: 'Fredoka', sans-serif;
    font-size: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

button {
    background: none;
    border: none;
}

a {
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
}
header {
    justify-content: space-between;
    background-color: white;
    color: #0f0f0f;
    display: flex;
    padding: 1.2em 1.2em;
    text-align: center;
    align-items: center;
    height: 4.5em;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 0.5px 4px;
    margin-bottom: 2em;
}

body{
    overflow-y: scroll;
    overflow-x: hidden;
    min-height: 90vh;
    position: relative;
}

header {
    width: 100%;
}


footer{
    margin-top: 10em;
    width: 100%;
    position: absolute;
    bottom: -10vh;
    background-color: #0f0f0f;
}

.log {
    margin-right: 1em;
    text-decoration: none;
}


.log button {
    background: #0f0f0f;
    color: white;
    border-radius: 12px;
    padding: 0.4em 0.4em;
    width: 98px;
    font-weight: bold;
    cursor: pointer;
}

.reg button {
    background: #efefef;
    color: #0f0f0f;
    border-radius: 12px;
    padding: 0.4em 0.4em;
    width: 98px;
    font-weight: bold;
    cursor: pointer;
}


.search form{
    box-shadow: none;
    border: none;
}

.auth {
    margin-left: auto;
    padding-right: 1em;
}

.log button i {
    font-size: 14px;
    color: white;
    padding-left: 0.2em;
}

.reg button i {
    font-size: 14px;
    color: #0f0f0f;
    padding-left: 0.2em;
}

#logo {
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #0f0f0f;
}


.option a {
    color: white;
    text-decoration: none;
}

.hamb {
    padding-left: 0.7em;
    padding-right: 1.5em;
}
.hamb button i{
    font-size: 1.8em;
}

.links {
    margin-left: auto;
    display: flex;
}

.option {
    font-size: 22px;
    padding-right: 2.5em;
    color: white;
    font-weight: bold;
}

.option p {
    font-size: 22px;
    padding-right: 2.5em;
    color: white;
    font-weight: bold;
}

.option a {
    font-size: 22px;;
}

.search {
    margin-left: auto;
    vertical-align: middle;
    border: none;
    background-color: #efefef;
    border-radius: 50px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.sbar i {
    vertical-align: middle;
    margin-right: 1.5em;
}

#searchbar {
    border: none;
    text-align: left;
    margin-left: 0.8em;
    width: 550px;
    float: left;
    background-color: #efefef;
}

#searchbar:focus {
    outline: none;
}



