@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');

button {
    background: none;
    border: none;
}

a{
    text-decoration: none;
    color: inherit;
}

.cover img {
    box-shadow: rgba(0, 0, 0, 0.22) 0px 0.5px 4px;
    border-radius: 10px;
}
.item img {
    box-shadow: rgba(0, 0, 0, 0.22) 0px 0.5px 4px;
    border-radius: 10px;
}

#price{
    font-size: 20px;
}

#nome {
    font-size: 16px;
}
img { max-width: 100%;}
