@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');


/* Global */
*{
    margin: 0;
    padding: 0;
    font-family: 'Fredoka', sans-serif;
    font-size: 15px;
}

button {
    background: none;
    border: none;
}

a{
    text-decoration: none;
    color: inherit;
}

