a {
    text-decoration: none;
    color: #0f0f0f;
}

#aside ul li a button{
    font-size: 24px;
    text-align: left !important;
    padding-left: 1em;
}


#aside {
    max-width: max-content;
}

#aside ul button {
    width: 340px;
    font-size: 20px;
    height: 50px;
}

.prof {
    max-width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

.lg img{
    object-fit: cover;
    border-radius: 50%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 0.5px 4px;
}


.cover ul li button {
    background-color: white;
}

.cover ul li {
    margin-bottom: 0.5em;
}
body {
    background-color: #eeeeee;
}

.hi p {
    font-size: 20px;
}
.hi {
    width: 340px;
    align-items: center;
}
.hi, .bar {
    background-color: white;
}

.nome {
    font-size: 20px;
}

.spec {
    background-color: white;
    margin-left: 5em;
    height: 100%;
    width: 100%;
}

.save button {
    background: #0f0f0f;
    color: white;
    padding: 0.4em 0.4em;
    width: 256px;
    font-weight: bold;
    cursor: pointer;
    height: 64px;
}

.stuf {
    font-size: 20px;
}
label {
    font-size: 20px;
}

.formData {
    font-size: 20px;
}

.data input {
    width: 256px;
    height: 40px;
}

.save button{
    font-size: 20px;
}