a {
    text-decoration: none;
    color: #0f0f0f;
}

#aside ul li a button{
    font-size: 21px;
    text-align: left !important;
    padding-left: 1em;
}

#aside ul li a button i{
    font-size: 21px;
    margin-right: 5px;
}

#aside {
    max-width: max-content;
}

#aside ul button {
    width: 340px;
    font-size: 20px;
    height: 50px;
}

.prof {
    max-width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

.lg {
    margin-left: 0.5em;
}
.lg img{
    object-fit: cover;
    border-radius: 50%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 0.5px 4px;
}

.cover {
    min-height: 80vh;
}
.cover ul li button {
    background-color: white;
}

.cover ul li button:hover {
    border-left: 4px solid #0f0f0f;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 0.5px 4px;
}


.hi {
    border-left: 4px solid #0f0f0f;
}


.cover ul li {
    margin-bottom: 0.5em;
}
body {
    background-color: #eeeeee;
}

.hi p {
    font-size: 20px;
}
.hi {
    width: 340px;
    align-items: center;
}
.hi, .bar {
    background-color: white;
}

.nome {
    font-size: 20px;
}


.tmp{
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #0f0f0f;
    margin-left: 10.7em;
}

.spec {
    background-color: white;
    margin-left: 5em;
    height: 100%;
}

.outside {
    width: 60%;
}

.save button {
    background: #0f0f0f;
    color: white;
    padding: 0.4em 0.4em;
    width: 256px;
    font-weight: bold;
    cursor: pointer;
    height: 64px;
}

.stuf {
    font-size: 20px;
}
label {
    font-size: 20px;
}

.formData {
    font-size: 20px;
}

.data input {
    width: 256px;
    height: 40px;
}

.save button{
    font-size: 20px;
}

input:focus {
    border: 1px solid black;
}


#balance-container{
    background-color: white;
    margin-left: 5em;
    height: 100%;
    width: 100%;
    min-width: 40vh;

}

.payment-selection input, label {

    margin:5px;
}

ul.payment-selection{
    padding-left: 0;
    margin-bottom: 15px;
    margin-top: 20px;
}

.payment-selection label { font-size: 15px; }

#balance-container input.form-control{
    font-weight: bold;
    flex: 0.5 1 auto;
}

#balance-container input.form-control:focus{
    border: 1px solid black;
}

#balance-container img{
    object-fit: cover;
    box-shadow: none;
    margin: auto;

}

.myAuctions #item-info p{
    margin-bottom: 0;
    font-size: 13px;
}

.myAuctions .row{
    margin-bottom: 10px;

}

.myAuctions .col-9 .row{
    margin-left: 15px;

}

.myAuctions .row img{
    width: 140px;
    height: 100px;
    max-width: none;
    object-fit: cover;
}

#user-auctions{
    width: 66vh;
}


.out1 #aside ul li:nth-child(1) button{
    border-left: 4px solid #f1b642;;
}

.out2 #aside ul li:nth-child(2) button{
    border-left: 4px solid #f1b642;;
}

.out3 #aside ul li:nth-child(3) button{
    border-left: 4px solid #f1b642;;
}

.out4 #aside ul li:nth-child(4) button{
    border-left: 4px solid #f1b642;;
}

.out5 #aside ul li:nth-child(5) button{
    border-left: 4px solid #f1b642;;
}

.out6 #aside ul li:nth-child(6) button{
    border-left: 4px solid #f1b642;;
}

.out7 #aside ul li:nth-child(7) button{
    border-left: 4px solid #f1b642;;
}

