/* Variables */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');


/* Global */
*{
    margin: 0;
    padding: 0;
    font-family: 'Fredoka', sans-serif;
    font-size: 15px;
}

button {
    background: none;
    border: none;
}
a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
}

header {
    background-color: white;
    color: black;
    display: flex;
    padding: 1.2em 1.2em;
    text-align: center;
    align-items: center;
    height: 4em;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 0.5px 4px;
}

header p {
    font-size: 30px;
    font-weight: bold;
}

footer {
    position: fixed;
    left: 0;
    right: 0;
    vertical-align: middle;
    display: flex;
    bottom: 0;
    padding: 2.2em 2.2em;
    background-color: black;
}

.hamb {
    padding-left: 0.7em;
    padding-right: 1.5em;
}
.hamb button i{
    font-size: 1.8em;
}

.links {
    margin-left: auto;
    display: flex;
}

.option {
    font-size: 22px;
    padding-right: 2.5em;
    color: white;
    font-weight: bold;
}

.option a {
    font-size: 22px;;
}
/* Header */

